<%= form_for [@user, todo], :remote=>true do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :checked %><br />
    <%= f.check_box :checked %>
  </div>
  <div class="field">
    <%= f.label :todo_id %><br />
    <%= f.number_field :todo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
